@charset "UTF-8";
::-webkit-scrollbar{
	display: none;
}
body {
	margin: 0 auto;
	background-color: #252525;
	background-position: center;
	background-size: contain;
	color: white;
}
#siteTitleArea{
	width: 100%;
	height: 100px;
}
#siteTitleArea2{
	width: 100px;
	margin-left: 30px;
}
#siteTitleArea2 a{
	font-size: 40px;
	color: #79abff;
	font-weight: bold;
	text-align: center;
	text-decoration: none;	
}
#siteMenuArea{
	width: 1000px;
	margin-left: 30px;
}
#siteMenuArea a{
	text-align: center;
	font-size: 20pt;
	text-decoration: none;
	color: pink;	
}
#siteHomeArea{
	border-color: white;
	border-radius: 5px 5px 3px;
	margin-left: auto;
	margin-right: auto;
}
#siteContentArea{
	margin-left: auto;
	margin-right: auto;
	margin-top: 50px;
	width: 1000px;

}
#siteContentArea2{
	margin-left: 400px;
	margin-top: 15px;
	width: 650px;
	height: 700px;
	background-color: #252525;
	border: 3px solid white;
	border-radius: 10px 10px;
}
#siteSituationArea{
	margin-left: 400px;
	width: 650px;
	height: 150px;
	border: 3px solid white;
	border-radius: 10px 10px;
}
#siteNoticeArea{
	position: fixed;
	top: 150px;
	left: 450px;
	width: 250px;
	height: 400px;
	border: 3px solid white;
	border-radius: 10px 10px;
}
#siteNoticeArea img{
	cursor: pointer;
}